.footer{
    background-color: rgb(51, 51, 51);
    width: 100%;
    height: max-content;
}

.content-footer > a{
    display: inline-block;
    width: min-content;
    height: max-content;
    /* position: relative; */
    /* left: 19.7%; */
    /* top: 63px; */
    margin-left: 19.7%;

}

.logo-footer{
    position: relative;
    top: 10px;
}

.content-footer{
    padding-top: 53px;
    padding-bottom: 67px;
}

.text-footer{
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    margin-left: 5.6%;
    width: 30%;
    z-index: 2;
    display: inline;
}

.text-footer a{
    margin-left: 30px;
    text-decoration: none;
    color: #ababab;
    letter-spacing: 1.4px;
}

.text-footer a:hover{
    color: rgb(214, 186, 141);
}

.bg-subcribe{
    border-width: 2px;
    border-color: rgb(105, 105, 105);
    border-style: solid;
    margin-left: 8.3%;
    width: 154px;
    height: 36px;
    z-index: 29;
    align-items: center;
    justify-content: space-evenly;
    display: inline-flex;
}

.subscribe {
    font-size: 14px;
    font-family: "Fira Sans";
    color: rgb(171, 171, 171);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.714;
    letter-spacing: 2.1px;
    margin-left: 2px;
  }

  .bg-footer{
    padding-left: 19.7%;
    width: 61%;
}

.line-footer {
    background-color: rgb(36, 36, 36);
    opacity: 0.502;
    width: 100%;
    height: 1px;
    z-index: 2;
  }

.end-footer{
    padding-bottom: 50px;
}

.contact{
    position: relative;
    top: -35.3px;
    margin-left: 19.7%;
    z-index: 0;
}

.address-footer{
    font-size: 14px;
    font-family: "Fira Sans";
    color: rgb(105, 105, 105);
    line-height: 2;
    text-align: left;
    letter-spacing: 0.15px;
    z-index: 1;
    width: 30%;
    
}

.copyright-footer{
    font-size: 14px;
    font-family: "Fira Sans";
    color: rgb(105, 105, 105);
    text-align: left;
    z-index: 1;
    width: 20%;
}

.address-footer::after{
    content: "\a";
    white-space: pre;
}

.social{
    position: relative;
    display: flex;
    width: 228px;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 69.3%;
    z-index: 1;
}

.cycle{
    border-width: 2px;
    border-color: rgb(105, 105, 105);
    border-style: solid;
    border-radius: 50%;
    opacity: 0.502;
    width: 44px;
    height: 44px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-hover:hover .cycle{
    border-radius: 50%;
    background-color: rgb(214, 186, 141);
    border-color: rgb(214, 186, 141);
    border-width: 2px;
    width: 44px;
    height: 44px;
    position: relative;
}

.social-hover:hover .icon-footer{
    color: rgb(51, 51, 51);
}

.icon-footer{
    font-size: 18px;
    font-family: "Ionicons";
    color: rgb(171, 171, 171);
    text-transform: uppercase;
    line-height: 1.167;
    text-align: center;
}
.ion-email{
    font-size: 20px;
    font-family: "Ionicons";
    color: rgb(214, 186, 141);
    text-transform: uppercase;
    line-height: 1.2;
}
  