body{
    margin: 0;
    max-width: 100%;
    /* overflow-x: hidden; */
}

html {
    width: 100%;
  }

header{
    width: 100%;
    height: 1000px;
    background-image: -moz-linear-gradient( -18deg, rgb(225,210,195) 0%, rgb(178,158,129) 100%);
    background-image: -webkit-linear-gradient( -18deg, rgb(225,210,195) 0%, rgb(178,158,129) 100%);
    background-image: -ms-linear-gradient( -18deg, rgb(225,210,195) 0%, rgb(178,158,129) 100%);

}
.menu{
    position: absolute;
    width: 100%;
    height: 72px;
}
.logo-main{
    position: absolute;
    margin-top: 29px;
    margin-left: 100px;
    float: left;
    z-index: 1;
}
/* .slider{
    position: absolute;
} */
nav{
    position: absolute;
    right: 5.9%;
    top: 53.5%
}
.ion-navicon{
    font-size: 30px;
    font-family: "Ionicons";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.7;
    position: absolute;
    left: 0px;
    z-index: 8;
}

.cart {
    position: absolute;
    right: 8.5%;
    top: 54%;
}

.ion-ios-cart-outline{
    font-size: 30px;
    font-family: "Ionicons";
    color: rgba(255, 255, 255, 0.702);
    text-transform: uppercase;
    line-height: 0.7;
    position: relative;
    left: 0px;
    z-index: 8;
}

.ellipse-2{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 14px;
    top: -3px;
    width: 18px;
    height: 18px;
    z-index: 9;
}

.number-2{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.75;
    position: absolute;
    left: 5.8px;
    top: -1px;
    z-index: 10;
}

.button-purchase{
    position: absolute;
    left: 19.7%;
    top: 661px;
}

.rectangle-2{
    background-color: rgb(51, 51, 51);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 197px;
    height: 48px;
    z-index: 1;
}

.discover-now{
    font-size: 16px;
    font-family: "Fira Sans";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    position: absolute;
    left: 29.5px;
    top: 12px;
    z-index: 1;
    letter-spacing: 2.4px;
}

.spring-2017{
    font-size: 24px;
    font-family: "Fira Sans";
    color: rgb(105, 105, 105);
    line-height: 1.333;
    text-align: left;
    position: absolute;
    left: 19.9%;
    top: 343px;
    z-index: 1;
    letter-spacing: 12.2px;
}

h2.it-s-your-shine-time{
    font-size: 100px;
    font-family: "Cormorant Garamond";
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    position: absolute;
    left: 19.8%;
    top: 406px;
    width: 50%;
    height: 253px;
    z-index: 2;
    display: block;
    letter-spacing: 30px;
    /* min-width: 810px; */
}

.girl{
    position: absolute;
    left: 45.2%;
    width: 935px;
    height: 1001px;
    z-index: 1;
}

.bg-copy-3{
    position: absolute;
    left: 0%;
    top: 0px;
    width: 100%;
    z-index: 0;
}

.bg-layer-1{
    width: 100%;
}

.social-header{
    width: 122.5px;
    height: 146.09px;
    position: absolute;
    right: 4.3%;
    top: 45.2%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.social-header a{
    font-size: 24px;
    font-family: "Cormorant Garamond";
    color: rgb(255, 255, 255);
    line-height: 1.667;
    text-align: right;
    letter-spacing: 2.4px;
    text-decoration: none;
}

.shape-1{
    background-color: rgb(51, 51, 51);
    position: absolute;
    right: -99px;
    width: 80px;
    height: 1px;
    z-index: 4;
    display: none;
}

.fb:hover ~ .shape-1{
    top: 15px;
    display: block;
}

.tw:hover ~ .shape-1{
    top: 55px;
    display: block;
}

.is:hover ~ .shape-1{
    top: 95px;
    display: block;
}

.yt:hover ~ .shape-1{
    top: 135px;
    display: block;
}