@media (min-width: 320px) and (max-width: 375px) {
  	/* Header */   
  	/* Content */
	  .it-start-with {
		min-width: 375px;
		zoom: 75%;
	}
	.iteams{
		zoom: 75%;
	}

	.iteams2 {
		zoom: 50%;
	}
	.iteams6 {
		zoom: 50%;
	}

	.heading-featured-items{
		zoom: 50%;
	}

	.heading-blog{
		zoom: 75%;
	}

	.list-blog{
		zoom: 75%;
	}

	.bg-button-blog{
		margin-left: 30%;
	}
	/* Brand */
	.brands{
		padding-top: 9px;
		padding-bottom: 9px;
		zoom: 75%;
	}

	.brands a{
		padding-top: 9px;
		padding-bottom: 9px;
	}

	/* Footer */
	.content-footer {
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.text-footer {
		display: flex;
		margin-left: 0;
		flex-wrap: wrap;
		justify-content: center;
		justify-content: space-around;
		width: 90%;
		padding-top: 25px;
		padding-left: 25px;
		padding-right: 10px;
	}
	.text-footer a {
		padding-left: 0px;
		margin-left: 0;
		text-align: center;
	}

	.contact {
		top: 0px;
		margin-left: 15.7%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.content-footer > a {
		display: block;
	}
	.bg-subcribe {
		margin-top: 20px;
		display: flex;
		margin-left: 45%;
	}
	.footer{
		zoom: 75%;
	}
	.end-footer {
		padding-bottom: 0px;
	}
	.social {
		margin-top: 10px;
		margin-left: 30%;
	}
}
  
@media (min-width: 375px) and (max-width: 425px) {
  	/* Header */  
  	/* Content */
	.it-start-with {
		min-width: 375px;
		zoom: 75%;
	}
	.iteams{
		zoom: 75%;
	}

	.iteams2 {
		zoom: 50%;
	}
	.iteams6 {
		zoom: 50%;
	}

	.heading-featured-items{
		zoom: 50%;
	}

	.heading-blog{
		zoom: 75%;
	}

	.list-blog{
		zoom: 75%;
	}

	.bg-button-blog{
		margin-left: 30%;
	}
	/* Brand */
	.brands{
		padding-top: 9px;
		padding-bottom: 9px;
		zoom: 75%;
	}

	.brands a{
		padding-top: 9px;
		padding-bottom: 9px;
	}

	/* Footer */
	.content-footer {
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.text-footer {
		display: flex;
		margin-left: 0;
		flex-wrap: wrap;
		justify-content: center;
		justify-content: space-around;
		width: 90%;
		padding-top: 25px;
		padding-left: 25px;
		padding-right: 10px;
	}
	.text-footer a {
		padding-left: 0px;
		margin-left: 0;
		text-align: center;
	}

	.contact {
		top: 0px;
		margin-left: 15.7%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.content-footer > a {
		display: block;
	}
	.bg-subcribe {
		margin-top: 20px;
		display: flex;
		margin-left: 45%;
	}
	.footer{
		zoom: 75%;
	}
	.end-footer {
		padding-bottom: 0px;
	}
	.social {
		margin-top: 10px;
		margin-left: 30%;
	}
}

@media (max-width: 768px) {
  /* Header */
  .slider{
	  zoom: 50%;
  }
  /* Content */
  .logo-main{
    position: absolute;
    margin-top: 19px;
    margin-left: 30px;
    float: left;
    z-index: 1;
  }
  .intro {
    height: 120px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .intro0{
    width: 100%;
  }
  .intro1{
    width: 100%;
  }
  .intro2{
    width: 100%;
  }
  .intro3{
    width: 100%;
  }
  .intro4{
    width: 100%;
  }
  /* Brand */

  /* Footer */
}

@media (min-width: 425px) and (max-width: 768px) {
  	/* Header */
	  .girl{
		left: 15.2%;
		z-index: 0;
	}    
  	/* Content */
	.iteams{
		zoom: 75%;
	}

	/* .iteams2 {
		zoom: 50%;
	}
	.iteams6 {
		zoom: 50%;
	} */

	.heading-featured-items{
		zoom: 50%;
	}

	.heading-blog{
		zoom: 75%;
	}

	.list-blog{
		zoom: 75%;
	}

	.bg-button-blog{
		margin-left: 30%;
	}
	/* Brand */
	.brands{
		padding-top: 9px;
		padding-bottom: 9px;
		zoom: 75%;
	}

	.brands a{
		padding-top: 9px;
		padding-bottom: 9px;
	}

	/* Footer */
	.content-footer {
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.text-footer {
		display: flex;
		margin-left: 0;
		flex-wrap: wrap;
		justify-content: center;
		justify-content: space-around;
		width: 90%;
		padding-top: 25px;
		padding-left: 25px;
		padding-right: 10px;
	}
	.text-footer a {
		padding-left: 0px;
		margin-left: 0;
		text-align: center;
	}

	.contact {
		top: 0px;
		margin-left: 15.7%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.content-footer > a {
		display: block;
	}
	.bg-subcribe {
		margin-top: 20px;
		display: flex;
		margin-left: 45%;
	}
	.footer{
		zoom: 75%;
	}
	.end-footer {
		padding-bottom: 0px;
	}
	.social {
		margin-top: 10px;
		margin-left: 30%;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
 	 /* Header */ 
  	/* Content */
	  .iteams{
		zoom: 75%;
	}

	/* .iteams2 {
		zoom: 50%;
	}
	.iteams6 {
		zoom: 50%;
	} */

	.heading-featured-items{
		zoom: 50%;
	}

	.heading-blog{
		zoom: 75%;
	}

	.list-blog{
		zoom: 75%;
	}

	.bg-button-blog{
		margin-left: 30%;
	}
	/* Brand */
	.brands{
		padding-top: 9px;
		padding-bottom: 9px;
		zoom: 75%;
	}

	.brands a{
		padding-top: 9px;
		padding-bottom: 9px;
	}

	/* Footer */
	.bg-subcribe {
		margin-top: 50px;
		display: flex;
		margin-left: 45%;
	}
	.content-footer {
		padding-top: 10px;
		padding-bottom: 30px;
	}
	.text-footer {
		display: flex;
		margin-left: 0;
		flex-wrap: wrap;
		justify-content: center;
		justify-content: space-around;
		width: 90%;
		padding-top: 25px;
		padding-left: 25px;
		padding-right: 10px;
	}
	.text-footer a {
		padding-left: 0px;
		margin-left: 0;
		text-align: center;
	}

	.contact {
		top: 0px;
		margin-left: 15.7%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.content-footer > a {
		display: block;
	}
	.bg-subcribe {
		margin-top: 20px;
		display: flex;
		margin-left: 45%;
	}
	.footer{
		zoom: 75%;
	}
	.end-footer {
		padding-bottom: 0px;
	}
	.social {
		margin-top: 10px;
		margin-left: 30%;
	}
} 

@media (max-width: 1024px) {
  /* Header */

  /* Content */
  .intro0{
    display: none;
  }
  .intro4{
    display: none;
  }
  /* Brand */

  /* Footer */


} 
  
@media (min-width: 1024px) and (max-width: 1440px) {
  /* Header */

  /* Content */

  /* Brand */

  /* Footer */
	.text-footer {
		margin-left: 5%;
	}
} 

@media (max-width: 1440px) {
	.social-header{
		display: none;
	}
	h2.it-s-your-shine-time{
		min-width: 610px;
	}
	.button-purchase{
		top: 761px;
	}

	  /* Footer */
	.content-footer > a {
		margin-left: 9%;
	}




}

@media (min-width: 1440px) and (max-width: 1920px) {
  /* Header */

  /* Content */
  
  /* Brand */

  /* Footer */

}
@media (min-width: 1920px) {
  /* Header */

  /* Content */
  
  /* Brand */

  /* Footer */
}